<%= link_to 'changecat', queries_changecat_path(@entry, :id => @entry.id) %>

<p>

  <strong>Title:</strong>
  <%= @entry.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @entry.text %>
</p>

<p>
  <strong>Years:</strong>
  <%= @entry.year %>
</p>