<h1>CMSC424 DAGR</h1>
<h2>INDEX</h2>

<table>
	<tr>
		<th>categories</th>
		<td><%= link_to 'index', "/categories" %></td>
		
	</tr>
	<tr>
		<th>queries</th>
		<td><%= link_to 'selectrng', "/queries/selectrng" %></td>
		<td><%= link_to 'searchque', "/queries/searchque" %></td>
	</tr>
	<tr>
		<th>dagr</th>
		<td><%= link_to 'index', "/entries" %></td>
	</tr>



</table>>





